

@keyframes slow-appear{
    0%{
        transform: translateY(50px);
        opacity: 0; 
       }
    100%{
        transform: translateY(0);
        opacity: 1;    
    }
}

@keyframes check-rotate{
    0%{
        transform: rotate(-270deg);
    }
    100%{
        transform: rotate(0deg);
    }
}



#article_1, #article_4, #article_7{
  
    animation: slow-appear 600ms ease-in;
 
}
#article_2, #article_5, #article_8 {
    animation: slow-appear 1.2s ease-in;
  }
  
  #article_3, #article_6, #article_9 {
    animation: slow-appear 1.8s ease-in;
  }
  
  #article_10 {
    animation: slow-appear 2.4s ease-in;
  }
