@mixin flex-center {
    display: flex;
    justify-content: center;    
}

@mixin flex-expl-form {   
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;   
}