@use "../utils/variables";
@use "../utils/placeholders";
.header{
    @extend %flex-center;
    width: 100vw;
    padding : 1rem 0;
    @extend %base-shadow;
    position: relative;
    &__img{
        height: 1.8rem;
    }
}
