.loader-container {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  background-color:#fff;
  inset: 0;
  z-index: 1;
  display: flex;
  opacity: 0.9;
  animation: disappear 3s ;
  visibility: hidden;


}

.loader {
  display: flex;
  position: relative;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border: 10px solid transparent;
  border-top-color: #9356DC;
  border-bottom-color: #9356DC;
  animation: spin 2s linear ;
}

.loader::before,
.loader::after {
  content: "";
  position: absolute;
  border-radius: 50%;
  border: 10px solid transparent;

}

.loader::before {
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  border-top-color: #FF79DA;
  border-bottom-color: #FF79DA;
  animation: spin 3s linear ;


}

.loader::after {
  top: 25px;
  left: 25px;
  right: 25px;
  bottom: 25px;
  border-top-color: #99E2D0;
  animation: spin .5s linear ;


}

@keyframes spin {
  0% {
    transform: rotate(0deg);
    visibility: visible;
  }

  100% {
    transform: rotate(360deg);
    visibility: hidden;
  }
}

.head-loader {
  width: 80%;
  margin-left: 30px;
  animation: mouvement 3s linear;
}

@keyframes mouvement {
  0% {
    transform: translatey(0);
    opacity: 1;
    visibility: visible;
  }

  100% {
    transform: translatey(-200px);
    opacity: 0;
    visibility:hidden;
  }
}
@keyframes disappear{
  0%{
    opacity: 1;
    visibility: visible;
  }
  100%{
    opacity: 0;
    visibility: hidden;
  }
}