@use "../utils/variables";
@use "../utils/placeholders";
@use "../utils/animations";

.menu {
    width: 100%;
    display: flex;
    flex-direction: column;
    position: absolute;
    margin-top: -3.1rem;
    background-color: variables.$color-light-grey;
    border-radius: 1.8rem 1.8rem 0 0;

    &__entete {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
    }

    &__heading {
        display: flex;
        margin: 2rem 0 0 0.9rem;
        font-family: "Shrikhand", cursive;
        font-size: 1.5rem;
        align-items: center;
    }

    &__heart {
        width: 8%;
        position: relative;

        i {
            font-size: 1.3rem;
        }
        & .fa-regular{
            position: absolute;
            right: 2.3rem;
        }

        & .fa-solid {
            position: absolute;
            color: transparent;
            background: linear-gradient(to top left, variables.$color-primary 7%, variables.$color-secondary 100%);
            background-clip: text;
            -webkit-background-clip: text;
            opacity: 0;
            transition: all 0.2s ease-in-out;
            right: 2.3rem;
        }

        &:hover .fa-solid {
            opacity: 1;
            transform: scale(1.2);
        }

    }



    .menu-heading {
        font-size: 1rem;
        font-weight: 400;
        position: relative;

        &::after {
            content: "";
            height: 0.25rem;
            width: 2.7rem;
            position: absolute;
            top: 1.5rem;
            left: 0;
            background-color: variables.$color-tertiary;

        }
    }

    .s-menu {
        display: flex;
        flex-direction: column;
        gap: 1.2rem;
        padding: 1rem;
    }

    .entree {
        display: flex;
        cursor: pointer;
        border-radius: 0.6rem;
        @extend %base-shadow;
        background-color: variables.$color-white;
        animation: slow-appear 3s;
        overflow: hidden;

        &__description {
            display: flex;
            flex-direction: column;
            padding: 0.6rem;
            overflow: hidden;
        }

        &__commentary {
            font-size: 0.8rem;
            @extend %menu-pointille;
        }

        &__h {
            font-size: 1rem;
            padding-bottom: 0.3rem;
            @extend %menu-pointille;
        }

        &__p {
            margin-left: auto;
            padding: 0 1rem 0.5rem 0.6rem;
            display: flex;
            align-items: flex-end;
            font-weight: 700;
        }

        .item__check {
            width: 3rem;
            @extend %flex-center;
            background-color: variables.$color-tertiary;
            margin-right: -3rem;
            transition: margin-right 0.5s;

            i {
                padding: 0.3rem;
                border-radius: 3.1rem;
                background-color: variables.$color-white;
                color: variables.$color-tertiary;
            }
        }

        &:hover .item__check {
            margin-right: 0;

            i {
                animation: check-rotate 0.5s;
            }
        }



    }
}