@use "../utils/placeholders";
@use "../utils/variables";
.sec-function{
    counter-reset:numero;
    margin-top: 2.5rem;
    padding: 0 1rem;  
    & .liste-index{
        @extend %flex-expl-form; 
        list-style: none;
        padding: 1rem;
        gap: 1rem;
        @media screen and (min-width: 800px)  {
            flex-direction: row;
            justify-content: space-evenly;
            gap: 30px;
            
        }
        & li{
            opacity: 1;
            transition: 0.3s;
            width: 15rem;
            height: 2rem;
            position: relative;
            transition: 0.3s;
            &:hover{
                cursor: pointer; 
                background-color: #f5edff;
                i{
                    color: variables.$color-primary;
                }
            }
            &::before{ 
                @extend %flex-center; 
                content: counter(numero);
                counter-increment: numero;
                width: .6rem;
                height: .6rem;
                padding: 0.6rem;
                border-radius: 50%;
                background-color: variables.$color-primary;
                color: variables.$color-white;
                position: absolute;  
                left: -0.6rem;
                bottom: 1.4rem ;
                        
            }
            @extend %flex-center;
            background-color: variables.$color-light-grey;
            padding: 1rem ;
            border-radius: 1rem;
            @extend %base-shadow;
            
            & i{
                margin-right: 1rem;
                color: #7E7E7E;
            } 
                        
    }
    
}
 
}
