@use "../utils/variables";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&family=Shrikhand&display=swap');

::before, 
::after{
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
   
}
figure{
    margin: 0;
}
h3{
    margin: 0;
}
p{
    margin: 0;
}
article{
    position: relative;
    margin-bottom: 1.8rem;
    background-color: variables.$color-white;
    border-radius: 1rem;
}
