@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&family=Shrikhand&display=swap");
::before,
::after {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

main {
  background-color: #f7f7f7;
}

h2 {
  margin: 0;
}

h1 {
  margin: 0;
}

h3 {
  margin: 0;
}

p {
  margin: 0;
}

footer {
  background-color: #353535;
}

.sec-function .liste-index, .form, .explorer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.sec-function .liste-index li::before, .sec-function .liste-index li, .city, .header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.article-restaurant, .sec-function .liste-index li, .form__button, .header {
  box-shadow: 2px 2px 8px -3px grey;
}

.header {
  width: 100vw;
  padding: 1rem 0;
  position: relative;
}
.header__img {
  height: 1.8rem;
}

.city {
  align-items: center;
  background-color: #ebebeb;
  gap: 1rem;
  padding: 0.6rem;
}
.city__i {
  font-size: 1rem;
}
.city__i__p {
  font-size: 1rem;
  font-weight: 700;
}

.explorer {
  padding: 1rem;
  background-color: #f7f7f7;
  height: 15.6rem;
}
@media screen and (min-width: 800px) {
  .explorer {
    height: 10.6rem;
  }
}
.explorer__heading {
  margin: 15px 0;
}
.explorer__heading__p {
  margin: 0;
}

.form__button {
  margin-top: 15px;
  padding: 1rem 2rem;
  font-size: 1rem;
  border: none;
  border-radius: 2rem;
  color: #FFF;
  transition: 0.3s;
  background: linear-gradient(to top left, #9356DC 7%, #FF79DA 100%);
}
.form__button:hover {
  cursor: pointer;
  opacity: 0.9;
  transition: 0.3s;
  box-shadow: 0px 0px 7px 6px #9356DC;
}

.sec-function {
  counter-reset: numero;
  margin-top: 2.5rem;
  padding: 0 1rem;
}
.sec-function .liste-index {
  list-style: none;
  padding: 1rem;
  gap: 1rem;
}
@media screen and (min-width: 800px) {
  .sec-function .liste-index {
    flex-direction: row;
    justify-content: space-evenly;
    gap: 30px;
  }
}
.sec-function .liste-index li {
  opacity: 1;
  transition: 0.3s;
  width: 15rem;
  height: 2rem;
  position: relative;
  transition: 0.3s;
  background-color: #f7f7f7;
  padding: 1rem;
  border-radius: 1rem;
}
.sec-function .liste-index li:hover {
  cursor: pointer;
  background-color: #f5edff;
}
.sec-function .liste-index li:hover i {
  color: #9356DC;
}
.sec-function .liste-index li::before {
  content: counter(numero);
  counter-increment: numero;
  width: 0.6rem;
  height: 0.6rem;
  padding: 0.6rem;
  border-radius: 50%;
  background-color: #9356DC;
  color: #FFF;
  position: absolute;
  left: -0.6rem;
  bottom: 1.4rem;
}
.sec-function .liste-index li i {
  margin-right: 1rem;
  color: #7E7E7E;
}

.restaurants {
  display: flex;
  flex-direction: column;
  background-color: #f7f7f7;
  padding: 0 1rem 2rem 1rem;
  margin-top: 2.5rem;
}
.restaurants__function__h {
  margin-top: 3.1rem;
}
.restaurants__cards {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
@media screen and (min-width: 800px) {
  .restaurants__cards {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 1.2rem;
    gap: 2rem;
  }
}
.restaurants .new {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  background-color: #99E2D0;
  border-radius: 0.2rem;
  top: 20px;
  right: 20px;
}
.restaurants .new p {
  color: #008766;
  padding: 0.4rem 0.6rem;
  margin: 0;
}

.article-restaurant {
  position: relative;
  background-color: #FFF;
  border-radius: 1rem;
}
@media screen and (min-width: 800px) {
  .article-restaurant {
    width: 40%;
  }
}

.card {
  text-decoration: none;
}
.card__images {
  width: 100%;
  height: 10rem;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 1rem 1rem 0 0;
}

.commentary {
  display: flex;
  justify-content: space-between;
}
.commentary__description {
  height: 4.3rem;
  margin: 1rem 0 0 1rem;
  color: #000;
}
.commentary__description h3 {
  padding-bottom: 0.4rem;
}
.commentary__heart {
  display: flex;
  width: 15%;
  align-items: center;
  color: #000;
  position: relative;
}
.commentary__heart i {
  font-size: 1.3rem;
}
.commentary__heart .fa-solid {
  position: absolute;
  color: transparent;
  background: linear-gradient(to top left, #9356DC 7%, #FF79DA 100%);
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}
.commentary__heart:hover .fa-solid {
  opacity: 1;
  transform: scale(1.2);
}

.footer {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 800px) {
  .footer {
    align-items: center;
  }
}

.logo-footer {
  margin: 1.4rem 0 0 1.2rem;
}

.liste-footer {
  height: 8.7rem;
  list-style: none;
  padding: 0;
  margin: 0 0 0 1.4rem;
}
@media screen and (min-width: 800px) {
  .liste-footer {
    display: flex;
    margin: 20px 0 0 0;
    gap: 50px;
  }
}
.liste-footer__li {
  margin-top: 0.6rem;
}
.liste-footer__li__a {
  text-decoration: none;
  color: #FFF;
}
.liste-footer__li__a__i {
  font-size: 0.8rem;
  margin-right: 10px;
}

@-webkit-keyframes slow-appear {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slow-appear {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@-webkit-keyframes check-rotate {
  0% {
    transform: rotate(-270deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes check-rotate {
  0% {
    transform: rotate(-270deg);
  }
  100% {
    transform: rotate(0deg);
  }
}/*# sourceMappingURL=index.css.map */