@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&family=Shrikhand&display=swap");
::before,
::after {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

main {
  background-color: #f7f7f7;
}

h2 {
  margin: 0;
}

h1 {
  margin: 0;
}

h3 {
  margin: 0;
}

p {
  margin: 0;
}

footer {
  background-color: #353535;
}

.btn-commander, .form {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.entree .item__check, .header-pages {
  display: flex;
  justify-content: center;
  align-items: center;
}

.article-restaurant, .entree, .btn-commander__button, .form__button, .header-pages {
  box-shadow: 2px 2px 8px -3px grey;
}

.entree__commentary, .entree__h {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.header-pages {
  width: 100vw;
  padding: 1rem 0;
  position: relative;
}
.header-pages__i {
  position: absolute;
  left: 0.6rem;
  top: 1.2rem;
  color: #000;
  font-size: 1.2rem;
}
.header-pages__i:hover {
  color: #9356DC;
}
.header-pages__i__img {
  width: 100vw;
  height: 1.8rem;
}

.img__img {
  width: 100%;
  height: 15.7rem;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (min-width: 1100px) {
  .img__img {
    height: 33rem;
  }
}

.form {
  padding-top: 1.2rem;
}
.form__button {
  margin-top: 15px;
  padding: 1rem 2rem;
  font-size: 1rem;
  border: none;
  border-radius: 2rem;
  color: #FFF;
  transition: 0.3s;
  background: linear-gradient(to top left, #9356DC 7%, #FF79DA 100%);
}
.form__button:hover {
  cursor: pointer;
  opacity: 0.9;
  transition: 0.3s;
  box-shadow: 0px 0px 7px 6px #9356DC;
}

.footer {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 800px) {
  .footer {
    align-items: center;
  }
}

.logo-footer {
  margin: 1.4rem 0 0 1.2rem;
}

.liste-footer {
  height: 8.7rem;
  list-style: none;
  padding: 0;
  margin: 0 0 0 1.4rem;
}
@media screen and (min-width: 800px) {
  .liste-footer {
    display: flex;
    margin: 20px 0 0 0;
    gap: 50px;
  }
}
.liste-footer__li {
  margin-top: 0.6rem;
}
.liste-footer__li__a {
  text-decoration: none;
  color: #FFF;
}
.liste-footer__li__a__i {
  font-size: 0.8rem;
  margin-right: 10px;
}

.btn-commander {
  padding-bottom: 1.5rem;
  background-color: #f7f7f7;
}
@media screen and (min-width: 1100px) {
  .btn-commander {
    margin: 3rem;
  }
}
.btn-commander__button {
  width: 55%;
  margin-top: 15px;
  padding: 1rem 2rem;
  font-size: 1rem;
  border: none;
  border-radius: 2rem;
  color: #FFF;
  opacity: 1;
  transition: 0.3s;
  background: linear-gradient(to top left, #9356DC 7%, #FF79DA 100%);
}
@media screen and (min-width: 800px) {
  .btn-commander__button {
    width: 30%;
    margin: 3rem;
  }
}
@media screen and (min-width: 1100px) {
  .btn-commander__button {
    width: 20%;
  }
}
.btn-commander__button:hover {
  cursor: pointer;
  opacity: 0.8;
  transition: 0.3s;
  box-shadow: 0px 0px 7px 6px #9356DC;
}

@-webkit-keyframes slow-appear {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slow-appear {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@-webkit-keyframes check-rotate {
  0% {
    transform: rotate(-270deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes check-rotate {
  0% {
    transform: rotate(-270deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.menu {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: absolute;
  margin-top: -3.1rem;
  background-color: #f7f7f7;
  border-radius: 1.8rem 1.8rem 0 0;
}
.menu__entete {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu__heading {
  display: flex;
  margin: 0.9rem 0 0 0.9rem;
  font-family: "Shrikhand", cursive;
  font-size: 1.5rem;
  align-items: center;
}
.menu__heart {
  width: 8%;
  position: relative;
}
.menu__heart i {
  font-size: 1.3rem;
}
.menu__heart .fa-regular {
  position: absolute;
  right: 2.3rem;
}
.menu__heart .fa-solid {
  position: absolute;
  color: transparent;
  background: linear-gradient(to top left, #9356DC 7%, #FF79DA 100%);
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 0;
  transition: all 0.2s ease-in-out;
  right: 2.3rem;
}
.menu__heart:hover .fa-solid {
  opacity: 1;
  transform: scale(1.2);
}

.menu-heading {
  font-size: 1rem;
  font-weight: 400;
  position: relative;
}
.menu-heading::after {
  content: "";
  height: 0.25rem;
  width: 2.7rem;
  position: absolute;
  top: 1.5rem;
  left: 0;
  background-color: #99E2D0;
}

@media screen and (min-width: 1100px) {
  .menus-card {
    display: flex;
    flex-direction: row;
    margin-left: 0.6rem;
  }
}

.s-menu {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  padding: 1rem;
  background-color: #f7f7f7;
}
@media screen and (min-width: 1100px) {
  .s-menu {
    width: 30%;
  }
}

.entree {
  display: flex;
  cursor: pointer;
  border-radius: 0.6rem;
  background-color: #FFF;
  -webkit-animation: slow-appear 3s;
          animation: slow-appear 3s;
  overflow: hidden;
}
.entree__description {
  display: flex;
  flex-direction: column;
  padding: 0.6rem;
  overflow: hidden;
}
.entree__commentary {
  font-size: 0.8rem;
}
.entree__h {
  font-size: 1rem;
  padding-bottom: 0.3rem;
}
.entree__p {
  margin-left: auto;
  padding: 0 1rem 0.5rem 0.6rem;
  display: flex;
  align-items: flex-end;
  font-weight: 700;
}
.entree .item__check {
  width: 3rem;
  background-color: #99E2D0;
  margin-right: -3rem;
  transition: margin-right 0.5s;
}
.entree .item__check i {
  padding: 0.3rem;
  border-radius: 3.1rem;
  background-color: #FFF;
  color: #99E2D0;
}
.entree:hover .item__check {
  margin-right: 0;
}
.entree:hover .item__check i {
  -webkit-animation: check-rotate 0.5s;
          animation: check-rotate 0.5s;
}

.restaurants {
  display: flex;
  flex-direction: column;
  background-color: #f7f7f7;
  padding: 0 1rem 2rem 1rem;
  height: 73rem;
}
@media screen and (min-width: 800px) {
  .restaurants {
    height: 42rem;
  }
}
.restaurants__function__h {
  margin: 3.1rem 0 1rem 0;
}
.restaurants__cards {
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
}
@media screen and (min-width: 800px) {
  .restaurants__cards {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 1.2rem;
    gap: 2rem;
  }
}
.restaurants .new {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  background-color: #99E2D0;
  border-radius: 0.2rem;
  top: 20px;
  right: 20px;
}
.restaurants .new p {
  color: #008766;
  padding: 0.4rem 0.6rem;
  margin: 0;
}

.article-restaurant {
  position: relative;
  background-color: #FFF;
  border-radius: 1rem;
}
@media screen and (min-width: 800px) {
  .article-restaurant {
    width: 40%;
  }
}

.card {
  text-decoration: none;
}
.card__images {
  width: 100%;
  height: 10rem;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 1rem 1rem 0 0;
}

.commentary {
  display: flex;
  justify-content: space-between;
}
.commentary__description {
  height: 4.3rem;
  margin: 1rem 0 0 1rem;
  color: #000;
}
.commentary__description h3 {
  padding-bottom: 0.4rem;
}
.commentary__heart {
  display: flex;
  width: 15%;
  align-items: center;
  color: #000;
  position: relative;
}
.commentary__heart i {
  font-size: 1.3rem;
}
.commentary__heart .fa-solid {
  position: absolute;
  color: transparent;
  background: linear-gradient(to top left, #9356DC 7%, #FF79DA 100%);
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}
.commentary__heart:hover .fa-solid {
  opacity: 1;
  transform: scale(1.2);
}/*# sourceMappingURL=pages.css.map */