@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&family=Shrikhand&display=swap");
::before,
::after {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

figure {
  margin: 0;
}

h1 {
  margin: 0;
}

h3 {
  margin: 0;
}

p {
  margin: 0;
}

footer {
  background-color: #353535;
}

.btn-commander, .form {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.header-pages, .entree .item__check {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-commander__button, .form__button, .header-pages, .entree {
  box-shadow: 2px 2px 8px -3px grey;
}

@-webkit-keyframes slow-appear {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slow-appear {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@-webkit-keyframes check-rotate {
  0% {
    transform: rotate(-270deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes check-rotate {
  0% {
    transform: rotate(-270deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.header-pages {
  width: 100vw;
  padding: 1rem 0;
  position: relative;
}
.header-pages__i {
  position: absolute;
  left: 10px;
  top: 20px;
  color: #000;
  font-size: 1.2rem;
}
.header-pages__i__img {
  width: 100vw;
  height: 1.8rem;
}

.img__img {
  width: 100%;
  height: 15.7rem;
  -o-object-fit: cover;
     object-fit: cover;
}

.menu {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: absolute;
  margin-top: -50px;
  background-color: #f7f7f7;
  border-radius: 30px 30px 0 0;
}
.menu__heading {
  display: flex;
  justify-content: space-between;
  width: 85%;
  margin: 32px 0 0 15px;
  font-family: "Shrikhand", cursive;
  font-size: 25px;
  align-items: center;
}

.menu-heading {
  font-size: 1rem;
  font-weight: 400;
  position: relative;
}
.menu-heading::after {
  content: "";
  height: 0.25rem;
  width: 2.7rem;
  position: absolute;
  top: 1.5rem;
  left: 0;
  background-color: #99E2D0;
}

.s-menu {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 1rem;
}

.entree {
  display: flex;
  cursor: pointer;
  border-radius: 0.6rem;
  background-color: #FFF;
  -webkit-animation: slow-appear 3s;
          animation: slow-appear 3s;
  overflow: hidden;
}
.entree__description {
  display: flex;
  flex-direction: column;
  padding: 0.6rem;
}
.entree__commentary {
  font-size: 0.8rem;
}
.entree__h {
  font-size: 1rem;
  padding-bottom: 0.3rem;
}
.entree__p {
  margin-left: auto;
  padding: 0 1rem 0.5rem 0.6rem;
  display: flex;
  align-items: flex-end;
  font-weight: 700;
}
.entree .item__check {
  width: 3rem;
  background-color: #99E2D0;
  margin-right: -3rem;
  transition: margin-right 0.5s;
}
.entree .item__check i {
  padding: 0.3rem;
  border-radius: 3.1rem;
  background-color: #FFF;
  color: #99E2D0;
}
.entree:hover .item__check {
  margin-right: 0;
}
.entree:hover .item__check i {
  -webkit-animation: check-rotate 0.5s;
          animation: check-rotate 0.5s;
}

.form__button {
  margin-top: 15px;
  padding: 1rem 2rem;
  font-size: 1rem;
  border: none;
  border-radius: 2rem;
  color: #FFF;
  transition: 0.3s;
  background: linear-gradient(to top left, #9356DC 7%, #FF79DA 100%);
}
.form__button:hover {
  cursor: pointer;
  opacity: 0.9;
  transition: 0.3s;
  box-shadow: 0px 0px 7px 6px #9356DC;
}

.logo-footer {
  margin: 1.4rem 0 0 1.2rem;
}

.liste-footer {
  height: 8.7rem;
  list-style: none;
  padding: 0;
  margin: 0 0 0 1.4rem;
}
.liste-footer__li {
  margin-top: 0.6rem;
}
.liste-footer__li__a {
  text-decoration: none;
  color: #FFF;
}
.liste-footer__li__a__i {
  font-size: 0.8rem;
  margin-right: 10px;
}

.btn-commander__button {
  width: 55%;
  margin-top: 15px;
  padding: 1rem 2rem;
  font-size: 1rem;
  border: none;
  border-radius: 2rem;
  color: #FFF;
  opacity: 1;
  transition: 0.3s;
  background: linear-gradient(to top left, #9356DC 7%, #FF79DA 100%);
}
.btn-commander__button:hover {
  cursor: pointer;
  opacity: 0.8;
  transition: 0.3s;
  box-shadow: 0px 0px 7px 6px #9356DC;
}/*# sourceMappingURL=pages.css.map */